In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import requests
import bs4
# fix fisherman wharf for destination display name
# powell, montgomery, embarcadero
# fishermans, pofa, oracle

**General Data Exploration**

In [2]:
pd.set_option('display.max_columns', None)
fp = os.path.join('data', 'barts_hotspots.csv')
bhot = pd.read_csv(fp)
bhot.head()

,Date,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Daily Mean Travel Time (Seconds),Daily Range - Lower Bound Travel Time (Seconds),Daily Range - Upper Bound Travel Time (Seconds),AM Mean Travel Time (Seconds),AM Range - Lower Bound Travel Time (Seconds),AM Range - Upper Bound Travel Time (Seconds),PM Mean Travel Time (Seconds),PM Range - Lower Bound Travel Time (Seconds),PM Range - Upper Bound Travel Time (Seconds),Midday Mean Travel Time (Seconds),Midday Range - Lower Bound Travel Time (Seconds),Midday Range - Upper Bound Travel Time (Seconds),Evening Mean Travel Time (Seconds),Evening Range - Lower Bound Travel Time (Seconds),Evening Range - Upper Bound Travel Time (Seconds),Early Morning Mean Travel Time (Seconds),Early Morning Range - Lower Bound Travel Time (Seconds),Early Morning Range - Upper Bound Travel Time (Seconds)
0,06/09/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3603,"Embarcadero, San Francisco, CA",1588.0,1054.0,2392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04/28/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",639.0,512.0,796.0,NaN,NaN,NaN,664.0,555.0,793.0,654.0,524.0,817.0,608.0,492.0,753.0,NaN,NaN,NaN
2,05/18/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",730.0,520.0,1024.0,NaN,NaN,NaN,732.0,544.0,985.0,791.0,590.0,1061.0,569.0,406.0,797.0,NaN,NaN,NaN
3,04/18/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",512.0,371.0,705.0,648.0,461.0,911.0,529.0,389.0,720.0,528.0,398.0,702.0,442.0,321.0,608.0,363.0,297.0,443.0
4,04/08/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",505.0,364.0,701.0,621.0,489.0,788.0,691.0,507.0,941.0,429.0,339.0,542.0,502.0,354.0,711.0,NaN,NaN,NaN

In [29]:
def drop_hotspot(x):
    hotspots = ["Fisherman's Wharf, San Francisco, CA",'Oracle Park, 24 Willie Mays Plaza, San Francisco, CA',\
                'The Palace Of Fine Arts, 3601 Lyon St, San Francisco, CA']
    if x in hotspots:
        return x
    else:
        return np.nan

In [30]:
# there are two fishermans wharf names. lambda function makes it into one.
bhot['Destination Display Name'] = bhot.apply(lambda x: "Fisherman's Wharf, San Francisco, CA" if x['Destination Display Name'] == "Fisherman's Wharf, 286-298 Jefferson St, San Francisco, CA" else x['Destination Display Name'],axis=1)
bhot_copy = bhot.copy()
# bhot_stat = bhot.groupby(['Origin Display Name', 'Destination Display Name']).count()[['Daily Mean Travel Time (Seconds)']]
# bhot_stat = bhot_stat.reset_index()
bhot_copy['Origin Display Name'] = bhot_copy['Origin Display Name'].apply(drop_hotspot)
bhot_nonan = bhot_copy.dropna(subset = ['Origin Display Name'])
bhot_nonan.groupby(['Origin Display Name', 'Destination Display Name']).mean()[['Daily Mean Travel Time (Seconds)']]
# gives us rough estimate of fastest bart stop from hotspot, numbers arent accurate (mean of means)

                                                                                                       Daily Mean Travel Time (Seconds)
Origin Display Name                                Destination Display Name
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                       1014.845304
                                                   Embarcadero, San Francisco, CA                                            779.541436
                                                   Powell BART Station, Market St and Powell St, S...                       1030.812155
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                        576.171271
                                                   Embarcadero, San Francisco, CA                                            538.596685
                                                   Powell BART Station, Market St and Powell St, S...                        830.905556
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                       1491.711111
                                                   Embarcadero, San Francisco, CA                                           1300.190751
                                                   Powell BART Station, Market St and Powell St, S...                       1415.519774

In [31]:
bhot_time = bhot.copy()
bhot_time.groupby(['Origin Display Name', 'Destination Display Name']).mean()[['Daily Mean Travel Time (Seconds)','PM Mean Travel Time (Seconds)','Midday Mean Travel Time (Seconds)','Evening Mean Travel Time (Seconds)','Early Morning Mean Travel Time (Seconds)']]

                                                                                                       Daily Mean Travel Time (Seconds)  \
Origin Display Name                                Destination Display Name
2nd Street and Stevenson Street (Montgomery BAR... Fisherman's Wharf, San Francisco, CA                                      788.508287
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                        481.983425
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                       1285.455556
Embarcadero, San Francisco, CA                     Fisherman's Wharf, San Francisco, CA                                      665.077348
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                        579.160221
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                       1188.284091
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                       1014.845304
                                                   Embarcadero, San Francisco, CA                                            779.541436
                                                   Powell BART Station, Market St and Powell St, S...                       1030.812155
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                        576.171271
                                                   Embarcadero, San Francisco, CA                                            538.596685
                                                   Powell BART Station, Market St and Powell St, S...                        830.905556
Powell BART Station, Market St and Powell St, S... Fisherman's Wharf, San Francisco, CA                                      893.718232
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                        775.767956
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                       1296.265734
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                       1491.711111
                                                   Embarcadero, San Francisco, CA                                           1300.190751
                                                   Powell BART Station, Market St and Powell St, S...                       1415.519774

                                                                                                       PM Mean Travel Time (Seconds)  \
Origin Display Name                                Destination Display Name
2nd Street and Stevenson Street (Montgomery BAR... Fisherman's Wharf, San Francisco, CA                                   912.666667
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                     598.000000
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                    1447.229358
Embarcadero, San Francisco, CA                     Fisherman's Wharf, San Francisco, CA                                   728.062147
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                     771.707182
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                    1346.190476
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                    1239.226519
                                                   Embarcadero, San Francisco, CA                                         857.752874
                                                   Powell BART Station, Market St and Powell St, S...                    1170.612360
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                     672.738889
                                                   Embarcadero, San Francisco, CA                                         600.089385
                                                   Powell BART Station, Market St and Powell St, S...                    1055.794118
Powell BART Station, Market St and Powell St, S... Fisherman's Wharf, San Francisco, CA                                  1007.084270
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                     930.951613
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                    1528.444444
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                    1632.340659
                                                   Embarcadero, San Francisco, CA                                        1399.795918
                                                   Powell BART Station, Market St and Powell St, S...                    1543.081633

                                                                                                       Midday Mean Travel Time (Seconds)  \
Origin Display Name                                Destination Display Name
2nd Street and Stevenson Street (Montgomery BAR... Fisherman's Wharf, San Francisco, CA                                       804.513966
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                         522.238889
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                        1313.676190
Embarcadero, San Francisco, CA                     Fisherman's Wharf, San Francisco, CA                                       682.435754
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                         606.734807
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                        1214.508197
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                        1049.000000
                                                   Embarcadero, San Francisco, CA                                             754.877095
                                                   Powell BART Station, Market St and Powell St, S...                         999.672222
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                         570.005556
                                                   Embarcadero, San Francisco, CA                                             520.222222
                                                   Powell BART Station, Market St and Powell St, S...                         828.360000
Powell BART Station, Market St and Powell St, S... Fisherman's Wharf, San Francisco, CA                                       863.150000
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                         799.848214
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                        1286.710526
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                        1495.503937
                                                   Embarcadero, San Francisco, CA                                            1304.377358
                                                   Powell BART Station, Market St and Powell St, S...                        1396.802632

                                                                                                       Evening Mean Travel Time (Seconds)  \
Origin Display Name                                Destination Display Name
2nd Street and Stevenson Street (Montgomery BAR... Fisherman's Wharf, San Francisco, CA                                        711.474860
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                          425.688889
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                         1195.585859
Embarcadero, San Francisco, CA                     Fisherman's Wharf, San Francisco, CA                                        581.982759
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                          488.677778
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                         1045.547368
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                          870.788889
                                                   Embarcadero, San Francisco, CA                                              667.865497
                                                   Powell BART Station, Market St and Powell St, S...                          945.329609
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                          481.744444
                                                   Embarcadero, San Francisco, CA                                              435.596591
                                                   Powell BART Station, Market St and Powell St, S...                          719.909091
Powell BART Station, Market St and Powell St, S... Fisherman's Wharf, San Francisco, CA                                        849.376404
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                          699.551402
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                         1245.000000
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                         1363.133333
                                                   Embarcadero, San Francisco, CA                                             1188.700000
                                                   Powell BART Station, Market St and Powell St, S...                         1351.777778

                                                                                                       Early Morning Mean Travel Time (Seconds)
Origin Display Name                                Destination Display Name
2nd Street and Stevenson Street (Montgomery BAR... Fisherman's Wharf, San Francisco, CA                                              532.333333
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                                376.831461
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                                       NaN
Embarcadero, San Francisco, CA                     Fisherman's Wharf, San Francisco, CA                                              534.600000
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                                438.892655
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                                       NaN
Fisherman's Wharf, San Francisco, CA               2nd Street and Stevenson Street (Montgomery BAR...                                705.333333
                                                   Embarcadero, San Francisco, CA                                                    697.307692
                                                   Powell BART Station, Market St and Powell St, S...                                831.833333
Oracle Park, 24 Willie Mays Plaza, San Francisc... 2nd Street and Stevenson Street (Montgomery BAR...                                386.072727
                                                   Embarcadero, San Francisco, CA                                                    391.422535
                                                   Powell BART Station, Market St and Powell St, S...                                584.000000
Powell BART Station, Market St and Powell St, S... Fisherman's Wharf, San Francisco, CA                                              713.000000
                                                   Oracle Park, 24 Willie Mays Plaza, San Francisc...                                636.900000
                                                   The Palace Of Fine Arts, 3601 Lyon St, San Fran...                                       NaN
The Palace Of Fine Arts, 3601 Lyon St, San Fran... 2nd Street and Stevenson Street (Montgomery BAR...                               1156.727273
                                                   Embarcadero, San Francisco, CA                                                           NaN
                                                   Powell BART Station, Market St and Powell St, S...                               1685.000000

In [32]:
bhot_time.head()
bhot_clean = bhot_time[['Date','Origin Movement ID','Origin Display Name','Destination Movement ID',\
                        'Destination Display Name','Daily Mean Travel Time (Seconds)',\
                        'Midday Mean Travel Time (Seconds)', 'Evening Mean Travel Time (Seconds)',\
                        'Early Morning Mean Travel Time (Seconds)']]
mid_fill = bhot_clean['Midday Mean Travel Time (Seconds)'].mean()
even_fill = bhot_clean['Evening Mean Travel Time (Seconds)'].mean()
early_fill = bhot_clean['Early Morning Mean Travel Time (Seconds)'].mean()
bhot_clean['Midday Mean Travel Time (Seconds)'] = bhot_clean['Midday Mean Travel Time (Seconds)'].fillna(mid_fill)
bhot_clean['Evening Mean Travel Time (Seconds)'] =  bhot_clean['Evening Mean Travel Time (Seconds)'].fillna(even_fill)
bhot_clean['Early Morning Mean Travel Time (Seconds)'] =  bhot_clean['Early Morning Mean Travel Time (Seconds)'].fillna(early_fill)
bhot_clean

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,Date,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Daily Mean Travel Time (Seconds),Midday Mean Travel Time (Seconds),Evening Mean Travel Time (Seconds),Early Morning Mean Travel Time (Seconds)
0,06/09/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3603,"Embarcadero, San Francisco, CA",1588.0,868.477282,709.750896,493.866588
1,04/28/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",639.0,654.000000,608.000000,493.866588
2,05/18/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",730.0,791.000000,569.000000,493.866588
3,04/18/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",512.0,528.000000,442.000000,363.000000
4,04/08/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",505.0,429.000000,502.000000,493.866588
5,06/30/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",616.0,868.477282,386.000000,493.866588
6,04/23/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",682.0,756.000000,550.000000,493.866588
7,05/13/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",634.0,584.000000,611.000000,493.866588
8,05/15/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",878.0,732.000000,795.000000,568.000000
9,04/14/2019,3603,"Embarcadero, San Francisco, CA",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",996.0,1063.000000,709.750896,493.866588
10,06/01/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",730.0,713.000000,750.000000,493.866588
11,04/18/2019,3603,"Embarcadero, San Francisco, CA",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",591.0,614.000000,496.000000,417.000000
12,06/11/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",643.0,595.000000,463.000000,449.000000
13,05/29/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",687.0,633.000000,625.000000,493.866588
14,04/21/2019,3603,"Embarcadero, San Francisco, CA",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",469.0,501.000000,455.000000,410.000000
15,06/06/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3603,"Embarcadero, San Francisco, CA",1363.0,1370.000000,709.750896,493.866588
16,04/18/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3603,"Embarcadero, San Francisco, CA",1313.0,1393.000000,709.750896,493.866588
17,05/16/2019,3603,"Embarcadero, San Francisco, CA",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",605.0,657.000000,496.000000,408.000000
18,06/11/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3603,"Embarcadero, San Francisco, CA",1438.0,868.477282,709.750896,493.866588
19,05/07/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",804.0,800.000000,715.000000,493.866588
20,05/01/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",527.0,500.000000,473.000000,493.866588
21,04/27/2019,3603,"Embarcadero, San Francisco, CA",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",510.0,561.000000,480.000000,381.000000
22,05/11/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",670.0,736.000000,540.000000,493.866588
23,04/25/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",727.0,727.000000,571.000000,493.866588
24,05/26/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3603,"Embarcadero, San Francisco, CA",449.0,486.000000,444.000000,493.866588
25,06/21/2019,3603,"Embarcadero, San Francisco, CA",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",565.0,614.000000,476.000000,423.000000
26,04/10/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",790.0,693.000000,683.000000,493.866588
27,05/09/2019,3394,"Fisherman's Wharf, San Francisco, CA",3603,"Embarcadero, San Francisco, CA",750.0,721.000000,694.000000,493.866588
28,04/22/2019,3603,"Embarcadero, San Francisco, CA",3394,"Fisherman's Wharf, San Francisco, CA",685.0,612.000000,663.000000,493.866588
29,05/30/2019,3603,"Embarcadero, San Francisco, CA",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",1112.0,1191.000000,970.000000,493.866588
...,...,...,...,...,...,...,...,...,...
3228,02/26/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",946.0,906.000000,676.000000,493.866588
3229,01/12/2019,3760,"Powell BART Station, Market St and Powell St, ...",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",1333.0,1405.000000,709.750896,493.866588
3230,02/25/2019,3760,"Powell BART Station, Market St and Powell St, ...",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",812.0,868.477282,760.000000,493.866588
3231,01/12/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",1471.0,1438.000000,709.750896,493.866588
3232,03/30/2019,3760,"Powell BART Station, Market St and Powell St, ...",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",969.0,868.477282,709.750896,493.866588
3233,01/28/2019,3760,"Powell BART Station, Market St and Powell St, ...",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",691.0,868.477282,709.750896,493.866588
3234,03/15/2019,3760,"Powell BART Station, Market St and Powell St, ...",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",847.0,780.000000,902.000000,493.866588
3235,03/08/2019,3760,"Powell BART Station, Market St and Powell St, ...",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",780.0,868.477282,590.000000,493.866588
3236,02/12/2019,3760,"Powell BART Station, Market St and Powell St, ...",3394,"Fisherman's Wharf, San Francisco, CA",900.0,798.000000,709.750896,493.866588
3237,03/31/2019,3394,"Fisherman's Wharf, San Francisco, CA",3760,"Powell BART Station, Market St and Powell St, ...",972.0,970.000000,906.000000,493.866588
3238,01/11/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",1529.0,1489.000000,709.750896,493.866588
3239,03/21/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",871.0,868.477282,769.000000,493.866588
3240,03/13/2019,3760,"Powell BART Station, Market St and Powell St, ...",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",1546.0,868.477282,709.750896,493.866588
3241,01/25/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",1536.0,1336.000000,709.750896,493.866588
3242,01/22/2019,3394,"Fisherman's Wharf, San Francisco, CA",3760,"Powell BART Station, Market St and Powell St, ...",1007.0,1018.000000,943.000000,493.866588
3243,01/18/2019,3760,"Powell BART Station, Market St and Powell St, ...",3394,"Fisherman's Wharf, San Francisco, CA",933.0,849.000000,819.000000,493.866588
3244,03/25/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",877.0,957.000000,748.000000,493.866588
3245,02/22/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",910.0,921.000000,881.000000,493.866588
3246,02/26/2019,3760,"Powell BART Station, Market St and Powell St, ...",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",1462.0,868.477282,709.750896,493.866588
3247,02/13/2019,3760,"Powell BART Station, Market St and Powell St, ...",3394,"Fisherman's Wharf, San Francisco, CA",956.0,812.000000,893.000000,493.866588
3248,02/21/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",1029.0,1008.000000,678.000000,493.866588
3249,02/18/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",1279.0,868.477282,709.750896,493.866588
3250,03/18/2019,3760,"Powell BART Station, Market St and Powell St, ...",3394,"Fisherman's Wharf, San Francisco, CA",916.0,865.000000,885.000000,493.866588
3251,03/20/2019,3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",3760,"Powell BART Station, Market St and Powell St, ...",1086.0,868.477282,867.000000,493.866588
3252,03/13/2019,3394,"Fisherman's Wharf, San Francisco, CA",3760,"Powell BART Station, Market St and Powell St, ...",1038.0,1143.000000,942.000000,493.866588
3253,01/06/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",NaN,868.477282,709.750896,493.866588
3254,01/24/2019,3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",3760,"Powell BART Station, Market St and Powell St, ...",1586.0,868.477282,709.750896,493.866588
3255,01/09/2019,3760,"Powell BART Station, Market St and Powell St, ...",3792,"Oracle Park, 24 Willie Mays Plaza, San Francis...",795.0,951.000000,806.000000,493.866588
3256,02/04/2019,3760,"Powell BART Station, Market St and Powell St, ...",3396,"The Palace Of Fine Arts, 3601 Lyon St, San Fra...",NaN,868.477282,709.750896,493.866588
3257,03/04/2019,3760,"Powell BART Station, Market St and Powell St, ...",3394,"Fisherman's Wharf, San Francisco, CA",869.0,782.000000,885.000000,493.866588

In [33]:
pd.set_option('display.max_columns', None)
fp = os.path.join('data', 'barts_to_all.csv')
ball = pd.read_csv(fp)
ball.head()

,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,3603,"Embarcadero, San Francisco, CA",1987,709716 (1987),"4/1/2019 - 6/30/2019, Every day, Daily Average",3373,2479,4589
1,3603,"Embarcadero, San Francisco, CA",1994,910502 (1994),"4/1/2019 - 6/30/2019, Every day, Daily Average",2888,2486,3353
2,3603,"Embarcadero, San Francisco, CA",2020,609301 (2020),"4/1/2019 - 6/30/2019, Every day, Daily Average",3015,2173,4182
3,3603,"Embarcadero, San Francisco, CA",2044,609270 (2044),"4/1/2019 - 6/30/2019, Every day, Daily Average",3019,2156,4226
4,3603,"Embarcadero, San Francisco, CA",2054,609261 (2054),"4/1/2019 - 6/30/2019, Every day, Daily Average",2916,2079,4089

In [34]:
pd.set_option('display.max_columns', None)
fp = os.path.join('data', 'hotspots_to_all.csv')
hall = pd.read_csv(fp)
hall['Date Range'].unique()

array(['4/1/2019 - 6/30/2019, Every day, Daily Average',
       '1/1/2019 - 3/31/2019, Every day, Daily Average'], dtype=object)

In [35]:
pd.set_option('display.max_columns', None)
fp = os.path.join('data', 'hours_q1.csv')
hq1 = pd.read_csv(fp)
sorted(hq1['hod'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [36]:
pd.set_option('display.max_columns', None)
fp = os.path.join('data', 'hours_q2.csv')
hq2 = pd.read_csv(fp)
hq2.head()

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,3709,3671,13,875.06,232.37,850.74,1.25
1,3708,3681,13,850.12,224.94,826.64,1.25
2,3632,3715,8,1017.34,298.82,973.40,1.35
3,3642,3615,8,94.17,75.18,71.61,2.17
4,3643,3605,8,171.74,205.52,112.04,2.41

In [37]:
hq1.groupby('hod').count()

,sourceid,dstid,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
hod,,,,,,
0,25225,25225,25225,25225,25225,25225
1,24320,24320,24320,24320,24320,24320
2,22944,22944,22944,22944,22944,22944
3,20608,20608,20608,20608,20608,20608
4,22169,22169,22169,22169,22169,22169
5,23744,23744,23744,23744,23744,23744
6,25492,25492,25492,25492,25492,25492
7,26809,26809,26809,26809,26809,26809
8,26985,26985,26985,26985,26985,26985
9,27293,27293,27293,27293,27293,27293
10,27529,27529,27529,27529,27529,27529
11,27590,27590,27590,27590,27590,27590
12,27617,27617,27617,27617,27617,27617
13,27707,27707,27707,27707,27707,27707
14,27793,27793,27793,27793,27793,27793
15,27845,27845,27845,27845,27845,27845
16,27828,27828,27828,27828,27828,27828
17,27771,27771,27771,27771,27771,27771
18,27840,27840,27840,27840,27840,27840
19,27912,27912,27912,27912,27912,27912
20,27902,27902,27902,27902,27902,27902
21,27773,27773,27773,27773,27773,27773
22,27675,27675,27675,27675,27675,27675
23,26801,26801,26801,26801,26801,26801

**Beginning of data cleaning**

In [14]:
# BART ---- 3603: Embarcadero, 3692: 2nd Street & Stevenson, 3760: Powell BART Station
# HOTSPOT ---- 3394: Fisherman, 3792: Oralce Park, 3396: Palace
bh = bhot.copy()
ba = ball.copy()
ha = hall.copy()
h1 = hq1.copy()
h2 = hq2.copy()
 
# split data by starting BART or HOTSPOT
bh["travel"] = bh["Origin Movement ID"].astype(str) + bh["Destination Movement ID"].astype(str)
bh_fromBart = bh.loc[(bh["Origin Movement ID"]==3603)|(bh["Origin Movement ID"]==3692)|(bh["Origin Movement ID"]==3760)]
bh_fromHot = bh.loc[(bh["Origin Movement ID"]==3394)|(bh["Origin Movement ID"]==3792)|(bh["Origin Movement ID"]==3396)]
 
h1["travel"] = h1["sourceid"].astype(str) + h1["dstid"].astype(str)
h1_fromBart = h1.loc[h1["travel"].isin(bh_fromBart["travel"].unique())]
h1_fromHot = h1.loc[h1["travel"].isin(bh_fromHot["travel"].unique())]
 
 
h2["travel"] = h2["sourceid"].astype(str) + h2["dstid"].astype(str)
h2_fromBart = h2.loc[h2["travel"].isin(bh_fromBart["travel"].unique())]
h2_fromHot = h2.loc[h2["travel"].isin(bh_fromHot["travel"].unique())]
h1_fromHot

,sourceid,dstid,hod,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time,travel
52561,3792,3692,4,427.57,263.28,358.84,1.80,37923692
59628,3792,3760,2,587.71,152.35,565.07,1.34,37923760
60161,3792,3760,10,763.96,257.19,723.84,1.39,37923760
61013,3792,3760,19,846.39,357.85,786.31,1.46,37923760
61494,3792,3760,20,722.38,394.90,671.75,1.41,37923760
72129,3792,3603,18,617.29,327.53,557.96,1.53,37923603
99242,3792,3692,5,345.43,189.26,310.05,1.55,37923692
101413,3792,3692,9,780.36,367.47,699.24,1.62,37923692
112054,3792,3760,6,582.46,180.48,557.29,1.34,37923760
138541,3792,3692,11,590.85,326.82,529.81,1.57,37923692
152885,3792,3760,7,782.33,486.49,694.55,1.58,37923760
161074,3792,3692,1,385.99,206.83,348.13,1.54,37923692
161902,3792,3692,2,386.47,220.45,339.95,1.63,37923692
162312,3792,3692,3,319.63,123.88,301.44,1.38,37923692
168017,3792,3760,15,920.89,462.76,825.42,1.58,37923760
168744,3792,3760,16,957.21,405.48,879.98,1.51,37923760
169024,3792,3760,17,1200.54,574.46,1083.36,1.57,37923760
170132,3792,3760,18,988.30,358.43,927.66,1.43,37923760
173394,3792,3603,0,485.02,377.23,426.97,1.52,37923603
173890,3792,3603,1,523.00,294.07,468.26,1.54,37923603
174713,3792,3603,2,430.00,111.02,417.51,1.27,37923603
182657,3792,3603,11,579.85,252.08,541.80,1.42,37923603
197834,3792,3692,20,497.99,305.04,442.65,1.58,37923692
205596,3792,3760,1,679.44,427.69,589.12,1.65,37923760
211410,3792,3603,17,697.47,346.26,630.25,1.55,37923603
218116,3792,3603,12,531.26,225.97,498.87,1.40,37923603
218786,3792,3603,14,531.02,251.07,490.87,1.45,37923603
249882,3792,3603,23,376.07,109.56,362.17,1.31,37923603
271381,3792,3603,5,381.93,105.80,369.45,1.29,37923603
290281,3792,3760,21,676.88,363.17,618.43,1.48,37923760
...,...,...,...,...,...,...,...,...
352370,3792,3760,13,804.59,374.18,749.51,1.42,37923760
352912,3792,3760,14,936.57,509.08,844.46,1.52,37923760
360702,3792,3603,15,552.09,262.40,508.45,1.47,37923603
368657,3792,3603,8,789.87,276.93,741.22,1.44,37923603
371914,3792,3692,15,612.88,365.58,533.78,1.67,37923692
400229,3792,3692,7,492.48,222.67,452.68,1.49,37923692
405312,3792,3692,21,465.86,207.82,428.15,1.50,37923692
408672,3792,3760,0,527.68,182.95,501.08,1.37,37923760
412037,3792,3692,17,778.08,424.66,679.25,1.68,37923692
415165,3792,3760,22,678.72,252.17,638.08,1.41,37923760
419828,3792,3692,0,410.46,249.55,366.02,1.57,37923692
420079,3792,3603,10,627.05,243.14,586.61,1.43,37923603
435485,3792,3603,16,602.60,291.88,552.76,1.48,37923603
452899,3792,3692,8,674.92,327.98,608.37,1.57,37923692
481359,3792,3692,12,529.89,258.91,479.01,1.55,37923692
498814,3792,3692,6,415.67,192.39,381.25,1.50,37923692
509313,3792,3760,8,821.37,270.04,777.49,1.40,37923760
519198,3792,3692,16,675.73,390.50,590.25,1.66,37923692
532453,3792,3603,19,479.79,238.64,443.34,1.44,37923603
535352,3792,3603,7,502.05,153.70,481.62,1.33,37923603
547325,3792,3603,9,837.95,352.30,762.27,1.57,37923603
547582,3792,3603,13,479.06,233.62,450.65,1.37,37923603
585496,3792,3692,18,717.65,388.40,629.82,1.66,37923692
590661,3792,3692,22,457.58,236.50,414.48,1.56,37923692
597500,3792,3692,19,570.25,293.58,507.36,1.61,37923692
599978,3792,3692,14,558.29,340.64,491.66,1.61,37923692
601348,3792,3603,21,412.14,147.86,390.41,1.40,37923603
613610,3792,3603,20,439.01,177.35,412.86,1.39,37923603
614064,3792,3603,22,418.40,174.40,391.29,1.41,37923603
630898,3792,3692,23,409.14,217.76,368.99,1.55,37923692

**This function classifys the military times as early morning, midday, evening**

In [15]:
def time_convert(x):
    if x>=0 and x<7:
        return 'early morning'
    elif x>=7 and x<15:
        return 'midday'
    else:
        return 'evening'

**Groupby military time and travel(origin and destination code combined). This is to get the means that will later be hard coded into a function that fills np.nan**

In [16]:
h1_fromBart['hod'] = h1_fromBart['hod'].apply(time_convert)
h1_fromBart.groupby(['hod', 'travel']).mean()[['mean_travel_time']]
# make a graph vs time and vs location

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                        mean_travel_time
hod           travel
early morning 36033792        444.078571
              36923792        404.667143
              37603792        606.072857
evening       36033792        619.613333
              36923792        501.261111
              37603792        803.496667
midday        36033792        595.293750
              36923792        490.448750
              37603792        858.106250

In [17]:
h2_fromBart['hod'] = h2_fromBart['hod'].apply(time_convert)
h2_fromBart.groupby(['hod', 'travel']).mean()[['mean_travel_time']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                        mean_travel_time
hod           travel
early morning 36033792        419.498571
              36923792        413.530000
              37603792        591.407143
evening       36033792        615.520000
              36923792        514.978889
              37603792        761.708889
midday        36033792        596.282500
              36923792        473.085000
              37603792        773.660000

In [38]:
# h2fbstat = h2_fromBart.groupby(['hod', 'travel']).mean()[['mean_travel_time']]
# h2fbstat

In [19]:
def date_convert(x):
    to_str = x[:2]
    to_int = int(to_str)
    if to_int <=3:
        return 'q1'
    else:
        return 'q2'

In [20]:
clean = bh.copy()
clean['quarter'] = clean['Date'].apply(date_convert)
clean = clean[['Date', 'travel','quarter','Early Morning Mean Travel Time (Seconds)','Evening Mean Travel Time (Seconds)','Midday Mean Travel Time (Seconds)']]
clean.head()

,Date,travel,quarter,Early Morning Mean Travel Time (Seconds),Evening Mean Travel Time (Seconds),Midday Mean Travel Time (Seconds)
0,06/09/2019,33963603,q2,NaN,NaN,NaN
1,04/28/2019,36033394,q2,NaN,608.0,654.0
2,05/18/2019,36033394,q2,NaN,569.0,791.0
3,04/18/2019,37923603,q2,363.0,442.0,528.0
4,04/08/2019,37923603,q2,NaN,502.0,429.0

**Helper functions to convert nans into early, evening, midday respectively**

In [23]:
def gen_early(x):
    if pd.isnull(x):
        return 'early'
    else:
        return x

def gen_evening(x):
    if pd.isnull(x):
        return 'evening'
    else:
        return x

def gen_midday(x):
    if pd.isnull(x):
        return 'midday'
    else:
        return x

**Apply functions and combine columns: travel, quarter, and respective time column (early morning, evening, midday) into their own column**

In [24]:
lst =["36033792","36923792","37603792"]
clean = clean.loc[clean['travel'].isin(lst)]
clean['Early Morning Mean Travel Time (Seconds)'] = clean['Early Morning Mean Travel Time (Seconds)'].apply(gen_early)
clean['Evening Mean Travel Time (Seconds)'] = clean['Evening Mean Travel Time (Seconds)'].apply(gen_evening)
clean['Midday Mean Travel Time (Seconds)'] = clean['Midday Mean Travel Time (Seconds)'].apply(gen_midday)
clean['test early']=clean['travel'].astype(str)+clean['quarter'].astype(str)+clean['Early Morning Mean Travel Time (Seconds)'].astype(str)
clean['test evening']=clean['travel'].astype(str)+clean['quarter'].astype(str)+clean['Evening Mean Travel Time (Seconds)'].astype(str)
clean['test midday']=clean['travel'].astype(str)+clean['quarter'].astype(str)+clean['Midday Mean Travel Time (Seconds)'].astype(str)
clean

,Date,travel,quarter,Early Morning Mean Travel Time (Seconds),Evening Mean Travel Time (Seconds),Midday Mean Travel Time (Seconds),test early,test evening,test midday
11,04/18/2019,36033792,q2,417,496,614,36033792q2417.0,36033792q2496.0,36033792q2614.0
14,04/21/2019,36033792,q2,410,455,501,36033792q2410.0,36033792q2455.0,36033792q2501.0
17,05/16/2019,36033792,q2,408,496,657,36033792q2408.0,36033792q2496.0,36033792q2657.0
21,04/27/2019,36033792,q2,381,480,561,36033792q2381.0,36033792q2480.0,36033792q2561.0
25,06/21/2019,36033792,q2,423,476,614,36033792q2423.0,36033792q2476.0,36033792q2614.0
36,06/20/2019,36033792,q2,418,573,629,36033792q2418.0,36033792q2573.0,36033792q2629.0
44,06/02/2019,36033792,q2,375,467,454,36033792q2375.0,36033792q2467.0,36033792q2454.0
56,05/10/2019,36033792,q2,441,557,630,36033792q2441.0,36033792q2557.0,36033792q2630.0
71,05/17/2019,36033792,q2,452,490,628,36033792q2452.0,36033792q2490.0,36033792q2628.0
77,06/19/2019,36033792,q2,425,508,641,36033792q2425.0,36033792q2508.0,36033792q2641.0
78,06/29/2019,36033792,q2,353,470,449,36033792q2353.0,36033792q2470.0,36033792q2449.0
80,05/14/2019,36033792,q2,409,483,600,36033792q2409.0,36033792q2483.0,36033792q2600.0
82,05/24/2019,36033792,q2,469,577,558,36033792q2469.0,36033792q2577.0,36033792q2558.0
94,04/19/2019,36033792,q2,462,465,585,36033792q2462.0,36033792q2465.0,36033792q2585.0
96,04/23/2019,36033792,q2,401,477,566,36033792q2401.0,36033792q2477.0,36033792q2566.0
112,05/27/2019,36033792,q2,389,412,476,36033792q2389.0,36033792q2412.0,36033792q2476.0
115,06/12/2019,36033792,q2,463,550,635,36033792q2463.0,36033792q2550.0,36033792q2635.0
117,04/12/2019,36033792,q2,434,552,580,36033792q2434.0,36033792q2552.0,36033792q2580.0
125,05/05/2019,36033792,q2,413,494,456,36033792q2413.0,36033792q2494.0,36033792q2456.0
130,04/16/2019,36033792,q2,463,460,560,36033792q2463.0,36033792q2460.0,36033792q2560.0
136,04/04/2019,36033792,q2,437,474,658,36033792q2437.0,36033792q2474.0,36033792q2658.0
144,05/23/2019,36033792,q2,431,546,652,36033792q2431.0,36033792q2546.0,36033792q2652.0
161,04/24/2019,36033792,q2,522,454,584,36033792q2522.0,36033792q2454.0,36033792q2584.0
167,06/26/2019,36033792,q2,431,514,710,36033792q2431.0,36033792q2514.0,36033792q2710.0
169,04/09/2019,36033792,q2,506,547,567,36033792q2506.0,36033792q2547.0,36033792q2567.0
177,05/21/2019,36033792,q2,405,490,566,36033792q2405.0,36033792q2490.0,36033792q2566.0
179,05/13/2019,36033792,q2,407,492,579,36033792q2407.0,36033792q2492.0,36033792q2579.0
183,04/29/2019,36033792,q2,392,558,544,36033792q2392.0,36033792q2558.0,36033792q2544.0
185,04/11/2019,36033792,q2,437,591,606,36033792q2437.0,36033792q2591.0,36033792q2606.0
186,04/25/2019,36033792,q2,445,525,666,36033792q2445.0,36033792q2525.0,36033792q2666.0
...,...,...,...,...,...,...,...,...,...
3085,03/22/2019,37603792,q1,early,983,1732,37603792q1early,37603792q1983.0,37603792q11732.0
3086,01/03/2019,37603792,q1,early,567,587,37603792q1early,37603792q1567.0,37603792q1587.0
3093,02/02/2019,37603792,q1,early,626,919,37603792q1early,37603792q1626.0,37603792q1919.0
3097,02/23/2019,37603792,q1,early,evening,742,37603792q1early,37603792q1evening,37603792q1742.0
3104,01/02/2019,37603792,q1,early,713,938,37603792q1early,37603792q1713.0,37603792q1938.0
3105,02/24/2019,37603792,q1,early,evening,802,37603792q1early,37603792q1evening,37603792q1802.0
3106,01/11/2019,37603792,q1,early,699,862,37603792q1early,37603792q1699.0,37603792q1862.0
3108,03/12/2019,37603792,q1,early,700,midday,37603792q1early,37603792q1700.0,37603792q1midday
3109,03/06/2019,37603792,q1,early,653,midday,37603792q1early,37603792q1653.0,37603792q1midday
3117,01/05/2019,37603792,q1,early,evening,570,37603792q1early,37603792q1evening,37603792q1570.0
3121,01/21/2019,37603792,q1,early,evening,midday,37603792q1early,37603792q1evening,37603792q1midday
3136,02/17/2019,37603792,q1,early,580,563,37603792q1early,37603792q1580.0,37603792q1563.0
3139,02/06/2019,37603792,q1,early,708,575,37603792q1early,37603792q1708.0,37603792q1575.0
3140,03/18/2019,37603792,q1,early,evening,683,37603792q1early,37603792q1evening,37603792q1683.0
3146,01/22/2019,37603792,q1,early,581,midday,37603792q1early,37603792q1581.0,37603792q1midday
3158,02/09/2019,37603792,q1,early,745,812,37603792q1early,37603792q1745.0,37603792q1812.0
3163,02/22/2019,37603792,q1,early,evening,670,37603792q1early,37603792q1evening,37603792q1670.0
3166,02/27/2019,37603792,q1,early,775,midday,37603792q1early,37603792q1775.0,37603792q1midday
3179,02/19/2019,37603792,q1,early,624,649,37603792q1early,37603792q1624.0,37603792q1649.0
3182,01/25/2019,37603792,q1,early,646,747,37603792q1early,37603792q1646.0,37603792q1747.0
3192,01/15/2019,37603792,q1,early,878,982,37603792q1early,37603792q1878.0,37603792q1982.0
3195,02/01/2019,37603792,q1,early,782,1200,37603792q1early,37603792q1782.0,37603792q11200.0
3198,03/05/2019,37603792,q1,early,847,696,37603792q1early,37603792q1847.0,37603792q1696.0
3206,02/28/2019,37603792,q1,640,evening,midday,37603792q1640.0,37603792q1evening,37603792q1midday
3208,01/30/2019,37603792,q1,early,evening,880,37603792q1early,37603792q1evening,37603792q1880.0
3230,02/25/2019,37603792,q1,early,760,midday,37603792q1early,37603792q1760.0,37603792q1midday
3233,01/28/2019,37603792,q1,early,evening,midday,37603792q1early,37603792q1evening,37603792q1midday
3234,03/15/2019,37603792,q1,early,902,780,37603792q1early,37603792q1902.0,37603792q1780.0
3235,03/08/2019,37603792,q1,early,590,midday,37603792q1early,37603792q1590.0,37603792q1midday
3255,01/09/2019,37603792,q1,early,806,951,37603792q1early,37603792q1806.0,37603792q1951.0

In [26]:
filt = clean['test early'].unique()
unique_early = [i for i in filt if 'early' in i]
h2fbstat['mean_travel_time'].to_list()
fil2 = clean['test evening'].unique()
unique_evening = [i for i in fil2 if 'evening' in i]
fil3 = clean['test midday'].unique()
unique_mid = [i for i in fil3 if 'midday' in i]
unique_mid
# just to see which unique codes need to be filled in, some routes never occur

['36923792q2midday', '37603792q2midday', '37603792q1midday']

**Helper function that returns the mean to each unique code, if the value was never nan, return the original value**

In [27]:
def damn(x):
    if x == '36033792q2early':
        return 419.498571
    elif x =='36923792q2early':
        return 413.530000
    elif x == '37603792q2early':
        return 591.407143
    elif x == '36033792q1early':
        return 444.078571
    elif x == '36923792q1early':
        return 404.667143
    elif x == '37603792q1early':
        return 606.072857
    elif x == '37603792q2evening':
        return 761.708889
    elif x == '36033792q1evening':
        return 619.613333
    elif x == '36923792q1evening':
        return 501.261111
    elif x == '37603792q1evening':
        return 803.496667
    elif x == '36923792q2midday':
        return 473.085000
    elif x == '37603792q2midday':
        return 773.660000
    elif x == '37603792q1midday':
        return 858.106250
    else:
        return float(x[-5:])

**Final Product**

In [28]:
clean['early'] = clean['test early'].apply(damn)
clean['evening'] = clean['test evening'].apply(damn)
clean['midday'] = clean['test midday'].apply(damn)
clean_final = clean[['Date', 'travel', 'quarter', 'early', 'evening', 'midday']]
clean_final

            Date    travel quarter       early     evening     midday
11    04/18/2019  36033792      q2  417.000000  496.000000  614.00000
14    04/21/2019  36033792      q2  410.000000  455.000000  501.00000
17    05/16/2019  36033792      q2  408.000000  496.000000  657.00000
21    04/27/2019  36033792      q2  381.000000  480.000000  561.00000
25    06/21/2019  36033792      q2  423.000000  476.000000  614.00000
36    06/20/2019  36033792      q2  418.000000  573.000000  629.00000
44    06/02/2019  36033792      q2  375.000000  467.000000  454.00000
56    05/10/2019  36033792      q2  441.000000  557.000000  630.00000
71    05/17/2019  36033792      q2  452.000000  490.000000  628.00000
77    06/19/2019  36033792      q2  425.000000  508.000000  641.00000
78    06/29/2019  36033792      q2  353.000000  470.000000  449.00000
80    05/14/2019  36033792      q2  409.000000  483.000000  600.00000
82    05/24/2019  36033792      q2  469.000000  577.000000  558.00000
94    04/19/2019  36033792      q2  462.000000  465.000000  585.00000
96    04/23/2019  36033792      q2  401.000000  477.000000  566.00000
112   05/27/2019  36033792      q2  389.000000  412.000000  476.00000
115   06/12/2019  36033792      q2  463.000000  550.000000  635.00000
117   04/12/2019  36033792      q2  434.000000  552.000000  580.00000
125   05/05/2019  36033792      q2  413.000000  494.000000  456.00000
130   04/16/2019  36033792      q2  463.000000  460.000000  560.00000
136   04/04/2019  36033792      q2  437.000000  474.000000  658.00000
144   05/23/2019  36033792      q2  431.000000  546.000000  652.00000
161   04/24/2019  36033792      q2  522.000000  454.000000  584.00000
167   06/26/2019  36033792      q2  431.000000  514.000000  710.00000
169   04/09/2019  36033792      q2  506.000000  547.000000  567.00000
177   05/21/2019  36033792      q2  405.000000  490.000000  566.00000
179   05/13/2019  36033792      q2  407.000000  492.000000  579.00000
183   04/29/2019  36033792      q2  392.000000  558.000000  544.00000
185   04/11/2019  36033792      q2  437.000000  591.000000  606.00000
186   04/25/2019  36033792      q2  445.000000  525.000000  666.00000
...          ...       ...     ...         ...         ...        ...
3085  03/22/2019  37603792      q1  606.072857  983.000000  732.00000
3086  01/03/2019  37603792      q1  606.072857  567.000000  587.00000
3093  02/02/2019  37603792      q1  606.072857  626.000000  919.00000
3097  02/23/2019  37603792      q1  606.072857  803.496667  742.00000
3104  01/02/2019  37603792      q1  606.072857  713.000000  938.00000
3105  02/24/2019  37603792      q1  606.072857  803.496667  802.00000
3106  01/11/2019  37603792      q1  606.072857  699.000000  862.00000
3108  03/12/2019  37603792      q1  606.072857  700.000000  858.10625
3109  03/06/2019  37603792      q1  606.072857  653.000000  858.10625
3117  01/05/2019  37603792      q1  606.072857  803.496667  570.00000
3121  01/21/2019  37603792      q1  606.072857  803.496667  858.10625
3136  02/17/2019  37603792      q1  606.072857  580.000000  563.00000
3139  02/06/2019  37603792      q1  606.072857  708.000000  575.00000
3140  03/18/2019  37603792      q1  606.072857  803.496667  683.00000
3146  01/22/2019  37603792      q1  606.072857  581.000000  858.10625
3158  02/09/2019  37603792      q1  606.072857  745.000000  812.00000
3163  02/22/2019  37603792      q1  606.072857  803.496667  670.00000
3166  02/27/2019  37603792      q1  606.072857  775.000000  858.10625
3179  02/19/2019  37603792      q1  606.072857  624.000000  649.00000
3182  01/25/2019  37603792      q1  606.072857  646.000000  747.00000
3192  01/15/2019  37603792      q1  606.072857  878.000000  982.00000
3195  02/01/2019  37603792      q1  606.072857  782.000000  200.00000
3198  03/05/2019  37603792      q1  606.072857  847.000000  696.00000
3206  02/28/2019  37603792      q1  640.000000  803.496667  858.10625
3208  01/30/2019  37603792      q1  606.072857  803.496667  880.00000
3230  02/25/2019  37603792      q1  606.072857  760.000000  858.10625
3233  01/28/2019  37603792      q1  606.072857  803.496667  858.10625
3234  03/15/2019  37603792      q1  606.072857  902.000000  780.00000
3235  03/08/2019  37603792      q1  606.072857  590.000000  858.10625
3255  01/09/2019  37603792      q1  606.072857  806.000000  951.00000

[543 rows x 6 columns]